<div class="seccionCategorias">
    <div class="myCategories">
        <h4>My categories</h4>
        <i class="fas fa-plus"></i>
    </div>

    <div class="categorias">
        <a href="#">
            <div class="categoria ahtletics">
                <img src="../../assets/images/Icon awesome-running.svg" alt="ahtletics">
                <h4>Athletics</h4>
            </div>
        </a>
        <a href="#">
            <div class="categoria ahtletics">
                <img src="../../assets/images/Icon awesome-running.svg" alt="ahtletics">
                <h4>Athletics</h4>
            </div>
        </a>
        <a href="#">
            <div class="categoria ahtletics">
                <img src="../../assets/images/Icon awesome-running.svg" alt="athletics">
                <h4>Athletics</h4>
            </div>
        </a>
    </div>

</div>