.header{
    height: 60px;
    background-color: #6AB3F8; 
    display: flex;
    padding: 1em;
    position: relative;
}

.header .logo{
    position: absolute;
    left: 40%;
    top: 7%;
    width: 200px;
    height: 50px;
}

.header .logo img{
    width: 200px;
    height: 50px;
}

.header .busqueda{
    position: absolute;
    left: 3%;
}

.header .miPerfil{
    position: absolute;
    right: 10%;
    /* border: 1px solid black; */
    display: flex;
    margin-left: .5em;
}

.header a{
    text-decoration: none;
    color: whitesmoke
}

.header .miPerfil .profile{
    padding: .3em;
    display: flex;
}

.header .miPerfil .profile .fotoUsuario{
    position: absolute;
    top: -10px;
    left: -40px;
    height: 3em;
    width: 3em;
}

.header .miPerfil .profile .logOut{
    position: absolute;
    top: 0px;
    left: 95px;
    height: 1.8em;
    width: 1.8em;
}

.busqueda input{
    width: 20em;
    border-radius: 5px;
    border: 1px solid rgb(186, 215, 251);
    height: 30px;
}

.profile .fotoUsuario{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    padding: 0.5em;
}

.profile a{
    text-decoration: none;
    color: whitesmoke;
}