<div class="escribirPost">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Steve_Carell_November_2014.jpg" alt=""
        class="fotoUsuarioAddPost">
    <input type="text" placeholder="Share your thougts...">
    <img src="../../assets/images/image-solid.svg" alt="image" class="icon">
    <img src="../../assets/images/link-solid.svg" alt="link" class="icon">
</div>
<div class="seccionPosts">
    <div class="post">
        <div class="headerPost">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Steve_Carell_November_2014.jpg" alt=""
                class="fotoUsuario">
            <div class="cuerpoHeaderPost">
                <p>Michael Scott</p>
                <p>Today 16:34</p>
            </div>
        </div>
        <div class="cuerpoPost">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime dolor similique delectus
                inventore totam et voluptate reiciendis fugit possimus.</p>
            <div class="footerCuerpoPost">
                <a href="#">
                    <p>Read More</p>
                </a>
                <i class="fas fa-comment-alt"></i>
            </div>
        </div>
    </div>

    <div class="post">
        <div class="headerPost">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Steve_Carell_November_2014.jpg" alt=""
                class="fotoUsuario">
            <div class="cuerpoHeaderPost">
                <p>Michael Scott</p>
                <p>Today 16:34</p>
            </div>
        </div>
        <div class="cuerpoPost">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime dolor similique delectus
                inventore totam et voluptate reiciendis fugit possimus.</p>
            <div class="footerCuerpoPost">
                <a href="#">
                    <p>Read More</p>
                </a>
                <i class="fas fa-comment-alt"></i>
            </div>
        </div>
    </div>
</div>