.escribirPost {
    display: flex;

    width: 95%;
    height: 7em;
    border: 1px solid rgb(186, 215, 251);
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    
}

.escribirPost .fotoUsuarioAddPost{
    border-radius: 50%;
    height: 4em;
    width: 4em;
    padding: .5em;
    margin-top: 1.4em;

}

.escribirPost input{
    margin-top: 1.6em;
    height: 50%;
    width: 60%;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

.escribirPost .icon{
    height: 2.5em;
    width: 2.5em;
    padding: .5em;
    /* margin-top: 2em; */
    margin: 2.1em auto;
}

.post{
    border: 1px solid rgb(186, 215, 251);
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 1em;
}

.post .headerPost{
    display: flex;
    background: linear-gradient(135deg, #6AB3F8, #6779EF);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: whitesmoke;
}

.fotoUsuario{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    padding: 0.5em;
}

.post .cuerpoHeaderPost{
    padding: .5em;
}

.post .cuerpoHeaderPost p{
    padding-bottom: .2em;
}

.post .cuerpoPost{
    padding: 1em;
}

.post .cuerpoPost i{
    transform: scaleX(-1);
}

.post .cuerpoPost .footerCuerpoPost{
    display: flex;
    margin-top: 1em;
}

.post .cuerpoPost .footerCuerpoPost a p{
    margin-right: 1em;
}

.post .cuerpoPost .footerCuerpoPost a{
    text-decoration: none;
    color: black;
}