*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body{
    background-color: #EEF9FE;    
}

.wrapper{
    display: flex;
}

.leftbar{
    width: 20%;
    padding: 2em;
}

.feed{
    padding: 1em;
    width: 40%;
    margin: 0 6.5em;
}